PORT=3000
NODE_ENV=development

# MongoDB
MONGODB_URI=mongodb+srv://vault:123@thearchitectvault.pabr49i.mongodb.net/bumbee-app


# JWT
JWT_SECRET=sfg
JWT_EXPIRES_IN=15m
JWT_REFRESH_SECRET=
JWT_REFRESH_EXPIRES_IN=30d

# Stripe
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
STRIPE_MONTHLY_PRICE_ID=
STRIPE_ANNUAL_PRICE_ID=

# Facebook OAuth
FACEBOOK_APP_ID=
FACEBOOK_APP_SECRET=

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379

# Cloudinary
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# External APIs
OVERPASS_API_URL=https://overpass-api.de/api/interpreter
OPENROUTE_API_URL=https://api.openrouteservice.org/v2
OPEN_METEO_URL=https://api.open-meteo.com/v1/forecast
